.modalArriendo {
    position: relative;
    width: 90%;
    max-width: 600px;
    max-height: 80vh; /* Establece una altura máxima para el modal */
    
  }
  
  .modal-content {
    max-height: 70vh; /* Establece una altura máxima para el contenido */
    overflow-y: auto; /* Permite el scroll vertical */
    padding: 20px;
  }
  .botonModalInmueble{
    margin-left: 5px;
  }

  .image-grid {
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  
  .image-item {
    flex: 1 1 calc(33.333% - 10px);
    box-sizing: border-box;
    max-height: 500px;
    width: 500px;
  }
  
  .image-item img {
    max-width: 250px;
    max-height: 300px;
    object-fit: cover;
    display: block;
  }
  .swal2-custom-popup {
    position: absolute;
    top: 0;
    left: 0;
  

    z-index: 2000000px !important; /* Ajusta este valor según sea necesario */
  }