.sidebar {
    width: 250px;
    height: 98%;
    position: fixed;
    top: 5px;
    left: 0;
    background-color: rgb(70, 130, 169);
    color: #fff;
    border-radius: 25px;
    padding-top: 50px;
  }
  
  .sidebar-header {
    padding: 20px;
    text-align: center;
  }
  
  .sidebar-header h3 {
    margin: 0;
  }
  
  .sidebar-menu {
    list-style: none;
    padding: 0;
  }
  
  .sidebar-menu li {
    padding: 10px 20px;
    border-bottom: 1px solid white;
  }
  
  .sidebar-menu li:last-child {
    border-bottom: none;
  }
  
  .sidebar-link {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.5s;
    display: flex;
    align-items: center;
  }
  .footerSidebar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 50px;
    left: 0;
    width: 250px;
    height: 50px;
    background-color: rgb(70, 130, 169);
    color: white;
    border-radius: 25px;
    padding-top: 50px;

  }
  .myName{
    text-decoration: none;
    color: white;
    margin-left: 5px;
    
  }
  .sidebar-link:hover{  
    color: rgb(70, 130, 169);
    background-color: white;
    border-radius: 25px;

  }
  .sidebar-link i {
    margin-right: 10px;
  }
.notificaciones{
  margin-right: 10px;
  font-size: 25px;
  
}